<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Header</title>
    </head>
    <body>
        <div class="links">
            <div class="top-links">
                <button type="button" (click)="scrollToSection('home')"><i class="bi bi-columns"></i> Dashboard</button>
                <button type="button" (click)="scrollToSection('users')"><i class="bi bi-people"></i> Users</button>
                <button type="button" (click)="scrollToSection('orders')"><i class="bi bi-book"></i> Orders</button>
                <button type="button" (click)="scrollToSection('medicines')"><i class="bi bi-plus-circle"></i> Medicines</button>
                <button type="button" (click)="scrollToSection('settings')"><i class="bi bi-gear"></i> Settings</button>
            </div>
            <div class="bottom-links">
                <button type="button" (click)="scrollToSection('help')"><i class="bi bi-question-circle"></i> Help</button>
                <button type="button" (click)="onLogOut()"><i class="bi bi-box-arrow-right"></i> Logout</button>
            </div>
        </div>
    </body>
</html>