* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: var(--content-background);
    color: var(--text-color);
}

html {
    position: fixed;
    margin-left: 2%;
    overflow-y: auto;
    width: 170px;
    height: 80vh;
    border-radius: 10px;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

button {
    text-decoration: none;
    background-color: transparent;
    transition: transform 0.3s ease;
}

button:hover {
    transform: translateX(8px);
}

i {
    font-size: 1.2em;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.top-links {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
}

.top-links button {
    padding: 20px 0px;
}

.bottom-links {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px 0;
}