<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>

</head>
<body>

    <div class="links">
        <div class="top-links">
            <a href="#"><i class="bi bi-columns"></i> Dashboard</a>
            <a href="#"><i class="bi bi-people"></i> Users</a>
            <a href="#"><i class="bi bi-book"></i> History</a>
            <a href="#"><i class="bi bi-plus-circle"></i> Medicines</a>
            <a href="#"><i class="bi bi-gear"></i> Settings</a>
        </div>
        <div class="bottom-links">
            <a href="#"><i class="bi bi-question-circle"></i> Help</a>
            <a href="#"><i class="bi bi-box-arrow-right"></i> Logout</a>
        </div>
    </div>

</body>
</html>