<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
    </head>
    <body>
        <div class="top">
            <div class="logo">
                <i class="bi bi-hospital"></i>
            </div>
            <div class="right">
                <div class="brightness">
                    <span class="light" (click)="toggleTheme('light')" [class.active]="!isDarkMode"><i class="bi bi-sun-fill"></i></span>
                    <span class="dark" (click)="toggleTheme('dark')" [class.active]="isDarkMode"><i class="bi bi-moon-fill"></i></span>
                </div>           
                <div class="profile">
                    <p>Hey, {{FirstName}}</p> <!-- Greet By First Name -->
                    <p>{{position}}</p> <!-- Admin or User -->
                </div>
                <div class="icon-profile">
                    <i class="bi bi-person-circle"></i>
                </div>
            </div> 
        </div>
        <div class="flex-row">
            <app-header class="side-bar"></app-header>
            <div class="main">
                <div class="relative">
                    <span class="fade-gradient"></span> <!-- Gradient Effect -->
                </div>
                <div id="home" class="home"> <!-- Dashboard -->
                    <h1>Dashboard</h1>
                    <div class="content"></div>
                </div>
                <div id="users" class="users"> <!-- New Users -->
                    <h1>Users</h1>
                    <div class="content">
                        <app-user-card *ngFor="let user of users" [user]="user"></app-user-card>
                        <div class="add-user" (click)="loadUserForm()">
                            <i class="bi bi-plus-lg"></i>
                            <p>Add</p>
                        </div>
                        <div class="more-user" (click)="moreUsers()">
                            <i class="bi bi-three-dots"></i>
                            <p>See More</p>
                        </div>
                    </div>
                </div>
                <div id="orders" class="orders"> <!-- Recent Orders -->
                    <h1>Orders</h1>
                    <div class="content">
                        <app-order-card *ngFor="let order of orders" [order]="order"></app-order-card>
                        <div class="add-order" (click)="loadOrderForm()">
                            <i class="bi bi-plus-lg"></i>
                            <p>Add</p>
                        </div>
                        <div class="more-order" (click)="moreOrders()">
                            <i class="bi bi-three-dots"></i>
                            <p>See More</p>
                        </div>
                    </div>
                </div>
                <div id="medicines" class="medicines"> <!-- Available Medicines in Stock -->
                    <h1>Medicines</h1>
                    <div class="content">
                        <app-medicine-card *ngFor="let medicine of medicines" [medicine]="medicine"></app-medicine-card>
                        <div class="add-medicine" (click)="loadMedicineForm()">
                            <i class="bi bi-plus-lg"></i>
                            <p>Add</p>
                        </div>
                        <div class="more-medicine" (click)="moreMedicines()">
                            <i class="bi bi-three-dots"></i>
                            <p>See More</p>
                        </div>
                    </div>
                </div>
                <div id="symptoms" class="symptoms"> <!-- Symptoms -->
                    <h1>Symptoms</h1> 
                    <div class="content">
                        <app-symptom-card *ngFor="let symptom of symptoms" [symptom]="symptom"></app-symptom-card>
                        <div class="add-symptom" (click)="loadSymptomForm()">
                            <i class="bi bi-plus-lg"></i>
                            <p>Add</p>
                        </div>
                        <div class="more-symptom" (click)="moreSymptoms()">
                            <i class="bi bi-three-dots"></i>
                            <p>See More</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <app-footer></app-footer> -->
    </body>
</html>