<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Order-Card</title>
    </head>
    <body>
        <i class="bi bi-cart"></i>
        <p>Order Card</p>
        <button type="button" (click)="onLoadOrderDetails(orderCard.order.Id)">Details <i class="bi bi-info-circle"></i></button>
        <!--<p>Order ID: {{ item.order.Id }}</p>
        <p>Order Data: {{ order.order }}</p>
        <p>Order Data Inventory: {{ order.inventory }}</p>-->
    </body>
</html>