<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <div class="container">
            <h1>Registeration Details</h1>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit">
                <div class="form-component">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" required>
                    <span class="focus-input"></span>
                </div>
        
                <div class="form-component">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" formControlName="firstName" required>
                    <span class="focus-input"></span>
                </div>

                <div class="form-component">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" formControlName="lastName" required>
                    <span class="focus-input"></span>
                </div>
        
                <div class="form-component">
                    <label for="address">Address</label>
                    <input type="text" id="address" formControlName="address" required>
                    <span class="focus-input"></span>
                </div>

                <div class="form-component">
                    <label for="phone">Phone</label>
                    <input type="tel" id="phone" formControlName="phone" required>
                    <span class="focus-input"></span>
                </div>
        
                <div class="form-component">
                    <label for="isAdmin">Is Admin</label>
                    <input type="checkbox" id="isAdmin" formControlName="isAdmin">
                </div>

                <div class="form-component">
                    <label for="password">Password</label>
                    <input type="password" id="password" formControlName="password" required>
                    <span class="focus-input"></span>
                </div>

                <div class="form-component">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
                    <span class="focus-input"></span>
                </div>
        
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
    
</html>