<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User-Card</title>
    </head>
    <body>
        <div class="top">
            <div class="title">
                <h1 *ngIf="isEditMode"> Edit User </h1>
                <h1 *ngIf="isAddMode"> Create User </h1>
                <h1 *ngIf="!isEditMode && !isAddMode">{{ user.FirstName ? user.FirstName : 'No'}} {{ user.LastName ? user.LastName : 'User Present'}}</h1>
            </div>
            <div class="brightness">
                <span class="light" (click)="toggleTheme('light')" [class.active]="!isDarkMode"><i class="bi bi-sun-fill"></i></span>
                <span class="dark" (click)="toggleTheme('dark')" [class.active]="isDarkMode"><i class="bi bi-moon-fill"></i></span>
            </div>
        </div>
        <form [formGroup]="userForm">
            <div class="row" *ngIf="!isAddMode">
                <span>User ID:</span>
                <span class="rtl">{{ user.Id }}</span>
            </div>
            <div class="row">
                <label for="firstName" class="name">First Name: </label> 
                <span class="rtl" *ngIf="!isEditMode && !isAddMode">{{ user.FirstName }}</span>
                <input id="firstName" *ngIf="isEditMode || isAddMode" formControlName="firstName" placeholder="First Name">
            </div>
            <div class="row">
                <label for="lastName" class="name">Last Name: </label> 
                <span class="rtl" *ngIf="!isEditMode && !isAddMode">{{ user.LastName }}</span>
                <input id="lastName" *ngIf="isEditMode || isAddMode" formControlName="lastName" placeholder="Last Name">
            </div>
            <div class="row">
                <label for="username" class="name">Username: </label>
                <span class="rtl" *ngIf="!isEditMode && !isAddMode">{{ user.Username }}</span>
                <input id="username" *ngIf="isEditMode || isAddMode" formControlName="username" placeholder="Username">
            </div>
            <div class="row">
                <label for="email" class="name">Email: </label>
                <span class="rtl" *ngIf="!isEditMode && !isAddMode">{{ user.Email }}</span>
                <input id="email" *ngIf="isEditMode || isAddMode" formControlName="email" placeholder="Email">
            </div>
            <div class="row">
                <label for="phone" class="name">Phone: </label> 
                <span class="rtl" *ngIf="!isEditMode && !isAddMode">{{ user.Phone }}</span>
                <input id="phone" *ngIf="isEditMode || isAddMode" formControlName="phone" placeholder="Phone">
            </div>
            <div class="row">
                <label for="address" class="name">Address: </label>
                <span class="rtl" *ngIf="!isEditMode && !isAddMode">{{ user.Address }}</span>
                <input id="address" *ngIf="isEditMode || isAddMode" formControlName="address" placeholder="Address">
            </div>
            <div class="row" *ngIf="isAddMode">
                <label for="password" class="name">Password: </label>
                <input id="password" type="password" formControlName="password" placeholder="Password">
            </div>
            <div class="row" *ngIf="isAddMode">
                <label for="confirmPassword" class="name">Confirm Password: </label>
                <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="confirm">
            </div>
            <div class="row" *ngIf="!isEditMode && !isAddMode">
                <label for="createdOn" class="name">Created On: </label>
                <span class="rtl">{{ user.CreatedOn | date:"short" }}</span>
            </div>
            <div class="row" *ngIf="!isEditMode && !isAddMode">
                <label for="modifiedOn" class="name">Last Update: </label>
                <span class="rtl">{{ user.ModifiedOn | date:"short" }}</span>
            </div>
            <div class="row" *ngIf="isAddMode || !isEditMode">
                <label for="position" class="name">Position: </label>
                <span class="rtl" *ngIf="!isEditMode && !isAddMode">{{ !user.IsAdmin ? 'User' : 'Admin' }}</span>
                <input id="position" type="checkbox" class="checkbox" *ngIf="isAddMode" formControlName="position" placeholder="Position">
             </div>
    
            <div class="buttons">
                <button type="button" class="back" *ngIf="isAddMode || isEditMode" (click)="onGoBack()">Go Back <i class="bi bi-box-arrow-right"></i></button>
                <button type="button" class="edit" *ngIf="!isEditMode && !isAddMode" (click)="isEditMode = true">Edit <i class="bi bi-pencil-square"></i></button>
                <button type="button" class="update" *ngIf="isEditMode" (click)="onUpdate()">Update <i class="bi bi-send"></i></button>
                <button type="button" class="delete" *ngIf="!isAddMode" (click)="onDelete(user)">Delete <i class="bi bi-trash"></i></button>
                <button type="button" class="add" *ngIf="isAddMode" (click)="onAdd()">Add <i class="bi bi-send-fill"></i></button>
            </div>
        </form>
    </body>
</html>